<div class="form-inline" id="{ID}">
	<div class="sr-wrapper">
		<input class="sr-multi-user-searchfield" type="text" name="{POST_VAR}" class="form-control" data-autocomplete_url="{URL_AUTOCOMPLETE}" {REQUIRED} {DISABLED} autocomplete="off"/>
	</div>

	<div class="sr-wrapper">
		<ul class="sr-selected-users-list"></ul>
	</div>

	<div class="sr-multi-user-search-container">

	</div>

<!--	<select style="display: none;" name="{POST_VAR}_selected" id="sr-multi-user-select-input" multiple></select>-->

	<!--  select should be implemented as follows instead  -->

	<!--    <div style="display: none;">-->
	<!--        <input type="hidden" name="selected[]">-->
	<!--        <input type="hidden" name="selected[]">-->
	<!--        <input type="hidden" name="selected[]">-->
	<!--        <input type="hidden" name="selected[]">-->
	<!--        <input type="hidden" name="selected[]">-->
	<!--        <input type="hidden" name="selected[]">-->
	<!--        <input type="hidden" name="selected[]">-->
	<!--        <input type="hidden" name="selected[]">-->
	<!--        <input type="hidden" name="selected[]">-->
	<!--    </div>-->
</div>
