
<div id="{ID}" class="il-sr-video-input">

    <input type="hidden" class="sr-resource-input" name="{NAME}" value="{VALUE}" />

    <div class="sr-video-wrapper-small">
        <div class="sr-video-wrapper">
            <video class="sr-video-preview" playsinline autoplay muted></video>
        </div>
    </div>

    <div class="sr-error-msg help-block alert alert-danger" role="alert">
        <img border="0" src="./templates/default/images/icon_alert.svg" alt="alert" />
        <span></span>
    </div>

    <div class="sr-recording-controls">
        <!-- buttons lead to form-submissions in certain contexts -->
        <input type="button" class="sr-record-btn btn btn-default" value="{START}" disabled />
        <input type="button" class="sr-retake-btn btn btn-danger" value="{RETAKE}" disabled />
    </div>

    <div class="sr-ios-recording-controls">
        <!-- label-wrapper to control the inputs appearance -->
        <label class="sr-ios-file-input">
            <input type="file" class="sr-ios-result" accept="video/*" capture="camera" />
            {RECORD}
        </label>
    </div>

</div>
