<div class="il-video-recorder" id="{ID}">
    <h1>Simple Video Recording using RecordRTC ({ID})</h1>

    <video controls autoplay playsinline></video>
    <hr>

    <a class="btn btn-default" id="btn-start-recording">Start Recording</a>
    <a class="btn btn-default" id="btn-stop-recording" disabled>Stop Recording</a>
    <input type="file" id="file_upload" name="blob">

    <!--  for iOS devices  -->

    <div>
        <input type="file" accept="video/*" capture="camera" name="blob">
    </div>

</div>