<div class="form-inline" id="{ID}">
	<ul style="display: none">
		<li class="sr-multi-user-template" data-item-id="" data-label=""></li>
	</ul>

	<div class="">
		<ul class="sr-results-users-list"></ul>
	</div>

	<div class="sr-wrapper">
		<input class="sr-multi-user-searchfield form-control" type="text" name="{POST_VAR}" data-autocomplete_url="{URL_AUTOCOMPLETE}" {REQUIRED} {DISABLED} autocomplete="off"/>
	</div>

	<div class="sr-wrapper">
		<ul class="sr-selected-users-list"></ul>
	</div>
</div>
