
<div id="{ID}" class="il-sr-video-input">

    <input type="hidden" class="sr-resource-input" name="{NAME}" value="{VALUE}" />

    <div class="sr-video-wrapper sr-video-wrapper-small">
        <video class="sr-video-preview" playsinline autoplay muted></video>
    </div>

    <div class="sr-error-msg help-block alert alert-danger" role="alert">
        <img border="0" src="./templates/default/images/icon_alert.svg" alt="alert" />
        <span></span>
    </div>

    <div>
        <input type="button" class="sr-record-btn btn btn-default" value="{START}" disabled />
        <input type="button" class="sr-retake-btn btn btn-danger" value="{RETAKE}" disabled />
    </div>

    <!--    use input type=file for iOS devices later  -->

    <!--    <div>-->
    <!--        <input type="file" accept="video/*" capture="camera" name="{LABEL}" />-->
    <!--    </div>-->

</div>
