
{ANSWER_INFO_BLOCK}

<div class="wrapper">
    <div class="row">
        <div class="col-md-5">
            <div class="wrapper">{VIDEO}</div>
        </div>

        <div class="col-md-7 sr-video-interview-white-col">
            <!-- @TODO: improve absolute button styles -->
            <div style="float: right; margin: 10px;">
                {ACTION}
            </div>

            <div>
                <h3>{TITLE}</h3>
                <hr />
            </div>

            {FEEDBACK_CONTENT_BLOCK}
        </div>
    </div>
</div>
