
<div class="wrapper">
    <div class="row">
        <div class="col-md-5">
            <div class="wrapper">{VIDEO}</div>
        </div>

        <div class="col-md-7">
            <div style="float: right; margin: 10px;">
                {ACTION}
            </div>

            <div>
                <h3>{TITLE}</h3>
                <hr />
            </div>

            <div>
                <h4>{DESCRIPTION_LABEL}</h4>
                <p>{DESCRIPTION}</p>
                <br />

                <h4 >{DETAILED_DESCRIPTION_LABEL}</h4>
                <p>{DETAILED_DESCRIPTION}</p>
            </div>
        </div>
    </div>
</div>